.heading{
  border-bottom: 1px solid grey;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: cornflowerblue;
  background-color: palegreen;
  list-style-type:none ;
  
  }
  ​
  ​
  .navi-links ul{
    list-style-type: none;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: stretch ;
  }
  
  
  .getstart button{
    color: black;
    background-color: palegreen;
    padding: 15px 15px;
  }
  
  .head button{
    color: black;
    background-color: palegreen;
    padding: 15px 15px
  }